.thread-item {
  background: #fdfdfd;
  cursor: pointer;
  transition: background-color 0.2s;
}

.thread-item:hover {
  background: #eee;
}
.user {
  color: #666;
  font-size: 13px;
  font-weight: normal;
  text-align: right;
}
.user img {
  background: #eee;
  border-radius: 50%;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  margin: 0 5px;
}
.thread-item:hover .user img {
  background: #fff;
}
